* {
    -fx-global-color: linear-gradient(from 0% 0% to 100% 100%, #00CDFD, #1054F4);
}

.root {
    -fx-background-color: -fx-global-color;
    -fx-font-family: "Avenir";
    -fx-font-size: 15px;
}

.red-text {
    -fx-text-fill: red !important;
}

.green-text {
    -fx-text-fill: green !important;
}

/************ Titres **************/

.h1 {
    -fx-font-size: 40px;
}

.h2 {
    -fx-font-size: 30px;
}

.h3 {
    -fx-font-size: 20px;
}

.h4 {
    -fx-font-size: 15px;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: Avenir;
}

/************ Boutons **************/

.button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: white;
    -fx-text-alignment: center;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: #363636;
}

/************ Boutons de sélection **************/

.select-button {
    -fx-min-height: 180px;
    -fx-min-width: 180px;
    -fx-max-width: 180px;
    -fx-padding: 0;
    -fx-font-size: 25px;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-width: 3;
}

/************ Bouton retour **************/

.back {
    -fx-border-width: 0;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-font-size: 30px;
    -fx-padding: 0;
    -fx-font-family: "DejaVu Sans" !important;
}

.back:hover {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

/************ Bouton référence **************/

.ref-button {
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-text-fill: #363636;
}

.ref-button:hover {
    -fx-background-color: #ebebeb;
    -fx-border-width: 0;
    -fx-text-fill: #363636;
}

/************ Combo box **************/

.combo-box {
    -fx-border-color: white;
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.combo-box .arrow {
    -fx-background-color: -fx-global-color;
}

.combo-box .list-cell, .combo-box .arrow-button {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.combo-box-popup .list-cell {
    -fx-text-fill: black;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: lightgrey;
}

/************ Tableaux **************/

.table-view:focused, .table-row-cell:focused {
    -fx-border-color: white;
    -fx-background-insets: 0 0 0 0;
    -fx-border-width: 0;
    -fx-text-fill: white;
}

.table-row-cell:focused {
    -fx-table-cell-border-color: lightgrey;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #363636;
}

.table-row-cell:selected {
    -fx-background-color: #a8a8a8;
}

.table-column {
    -fx-alignment: CENTER;
}