.root {
    -fx-background-color: darkred;
}

.select-button {
    -fx-min-height: 180px;
    -fx-min-width: 180px;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-border-color: white;
    -fx-background-color: darkred;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-text-alignment: center;
}

.select-button:hover {
    -fx-background-color: white;
    -fx-text-fill: darkred;
}

.back {
    -fx-background-color: darkred;
    -fx-text-fill: white;
    -fx-border-width: 0;
    -fx-min-width: 35px;
    -fx-min-height: 35px;
    -fx-font-size: 30px;
    -fx-padding: 0;
}

.title {
    -fx-font-size: 40px;
    -fx-text-fill: white;
}