html, body, #root {
    height:100%;
}

*:focus, *:active {
    outline: none;
    box-shadow: none !important;
}

input:focus {
    border-color: darkgray !important;
}

svg {
    padding-bottom: .25rem;
}

.full-height {
    height: calc(100% - 70px);
}

.User_info{
    padding-top: 4%;
    padding-right: 10%;
}

p {
    margin: 0;
}

.error-message {
    min-height: 24px;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.no-border {
    border: none;
}

.navbar-top {
    z-index: 1;
}

.card {
    border: none;
}
